<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Export Spotify Playlist as Plaintext</h1>
			<p class="lead">Input a Spotify Playlist URI to get a plaintext version of the playlist!</p>
			<p>To get the Spotify Playlist URI, right-click the playlist's name, and click on Copy Spotify URI</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form class="form-horizontal" role="form">
				<div ng-repeat="message in messages" class="alert" ng-class="message.status=='success' ? 'alert-success' : 'alert-danger'">{{ message.message }}</div>
				<div class="form-group">
					<label for="spotify-uri" class="col-sm-2 control-label">Spotify Playlist URI</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" name="spotify-uri" id="spotify-uri" ng-model="spotifyUri" />
					</div>
				</div>
				<div class="form-group" ng-cloak>
					<div class="col-sm-offset-2 col-sm-10">
						<search-button perform-search="performSearch" user-factory="userFactory" searching="searching"></search-button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="row" ng-if="trackSet.tracks.length > 0">
		<div class="col-md-12">
			<h2>Plaintext listing</h2>
			<hr />
			<ul class="list-unstyled">
				<li ng-repeat="track in trackSet.tracks">{{ track.createDisplayNameForSelectedSong() }}</li>
			</ul>
		</div>
	</div>
</div>
