<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Reddit Comment Search</h1>
			<p class="lead">Paste in a Reddit thread URL and hit search. This will run through the comments and extract songs.</p>
			<adblock-warning></adblock-warning>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<div ng-repeat="message in messages" class="alert" ng-class="message.status=='success' ? 'alert-success' : 'alert-danger'">{{ message.message }}</div>
					<label for="redditThread" class="col-sm-2 control-label">Reddit Thread URL</label>
					<div class="col-xs-10">
						<div class="input-group col-xs-10">
							<input type="text" class="form-control" name="redditThread" id="redditThread" ng-model="threadUrl" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<search-button perform-search="performSearch" user-factory="userFactory" searching="searching"></search-button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div result-module></div>
</div>
