<div class="jumbotron">
	<div class="container">
		<h1>Convert Anything to a Spotify Playlist</h1>
		<p>Spotlistr is a collection of tools to help you generate Spotify <i class="fa fa-spotify"></i> playlists from many different sources!</p>
		<div class="row">
			<div class="col-md-3">
				<h1 class="text-center"><i class="fa fa-youtube"></i></h1>
				<p>Easily convert playlists from <a href="#/search/youtube">YouTube</a> to Spotify Playlists!</p>
			</div>
			<div class="col-md-3">
				<h1 class="text-center"><i class="fa fa-music"></i></h1>
				<p>Discover music based on your <a href="#/search/lastfm-toptracks-similar">Last.fm top tracks</a>, or based on <a href="#/search/lastfm-similar">Last.fm's similar tracks</a>!</p>
			</div>
			<div class="col-md-3">
				<h1 class="text-center"><i class="fa fa-reddit"></i></h1>
				<p>Create Spotify playlists based on music <a href="#/search/subreddit">Subreddits</a> and <a href="#/search/multireddit">Multireddits</a>!</p>
			</div>
			<div class="col-md-3">
				<h1 class="text-center"><i class="fa fa-soundcloud"></i></h1>
				<p>Convert a <a href="#/search/soundcloud">SoundCloud</a> set/playlist into a Spotify playlist!</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h1>Why Spotlistr?</h1>
			<p class="lead">Spotlistr is the most feature-packed music discovery tool out there! For example, Spotlistr allows anyone to easily discover new music based on what they already listen to by just inputting their favorite tracks in our <a href="#/search/lastfm-similar">Last.fm's similar tracks</a> search service.</p>
		</div>
		<div class="col-md-4">
			<h1>Spotify playlists made easy</h1>
			<p class="lead">Creating a Spotify playlist can be daunting, and downright time consuming! Spotlistr allows you to create a playlist in just a few clicks. You'll never go back to creating Spotify playlists in any other way!</p>
		</div>
		<div class="col-md-4">
			<h1>I want to contribute to Spotlistr!</h1>
			<p class="lead">Excellent! You're in luck! Spotlistr is fully open source and licensed under an Apache2 License. Check out our <a href="https://github.com/BobNisco/Spotlistr">GitHub repo</a> with details on how you can contribute in just a few minutes!</p>
		</div>
	</div>
</div>
