<span ng-if="userLoggedIn === true">Welcome {{ currentUser.display_name }}</span>
<span ng-if="userLoggedIn === false"><a href="/login">Log in with Spotify</a></span>
<h2>Textbox</h2>
<textarea rows="15" cols="80" ng-model="taData"></textarea>
<button type="submit" ng-click="performSearch()">Playlist Me</button>

<div class="result">
	<div class="content">
		<h2>100% Matches</h2>
		<ul>
			<li ng-repeat="match in matches"><a href="{{ match.tracks[0].href }}">{{ createDisplayName(match.tracks[0]) }}</a></li>
		</ul>

		<h2>Needs Review (Multiple Matches)</h2>
		<ul>
			<li ng-repeat="review in toBeReviewed">{{ review }}</li>
		</ul>

		<h2>Not Found on Spotify</h2>
		<ul>
			<li ng-repeat="match in noMatches">{{ match.info.query }}</li>
		</ul>
	</div>
</div>
